.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden; /* Oculto por defecto */
  z-index: 2000;
}

.sidebar-container.open {
  visibility: visible;
}

.sidebar-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar-content input{
    height : 29px;
    border-radius: 10px;
    border: 1px solid var(--on-surface);



}
.sidebar-container.open .sidebar-overlay {
  opacity: 0.3; /* Fondo semitransparente al abrir */
  
}

.sidebar-content {
  position: absolute;
  right: -350px; /* Empieza fuera de la pantalla */
  width: 350px;
  background-color: var(--nav-bg);
  height: 100%;
  padding: 40px 20px;
  transition: right 0.3s ease;
}

.sidebar-content button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.sidebar-container.open .sidebar-content {
  right: 0; /* Entra a la pantalla */
}